.jumbo {
    background-image: url(/public/jumbo.png);
    background-repeat: no-repeat;
    height: 750px;
    background-position: top right;
    max-width: 90%;
    margin: 0 auto;
    padding-top: 6rem;

  h1 {
    font-family: var(--headingFont);
    color: white;
    font-size: 54px;
    font-weight: 500;
    text-shadow: var(--text-shadow);
      
      
  }

  p {
    font-weight: 600;
    line-height: 25.6px;

    a {
        color: var(--primary);

        &:hover {
            text-decoration: underline;
        }
    }
  }

  figure {
    flex-basis: 80%;
  }

  button {
    border-radius: 16px;
    padding: 16px 30px;
    color: white;
    font-weight: 600;
    transition: var(--transition);
    font-size: 18px;

    &:hover {
        background-color: var(--primary);
        text-decoration: underline;
    }
}
}


