.search-for-a-dog-container {
  padding: 4rem 0;

  h3 {
    font-family: var(--headingFont);
    font-size: 48px;
  }
  
  select {
    border: 1px solid rgb(184, 184, 184);
    padding: 5px 15px;
    width: 300px;
  }
}

@media screen and (min-width: 769px) {
  .search-for-a-dog-container {
    select {
      width: 400px;
    }
  }
}