.privacy-page {
  h2 {
    text-align: center;
    font-weight: bold;
    font-size: 20px;
  }
  .paragraph {
    margin: 1rem 0;
    text-align: left;

    h3 {
      font-weight: bold;
      text-align: center;
    }
  }
}
