.dogPedigreeCardcontainer {
  width: 98%;
  margin: 4rem auto;
}

.dogPedigreeCardNav {
  font-size: 18px;
  font-weight: bold;

  li {
    padding: 0.4rem 0.3rem;
    font-size: 12px;
    cursor: pointer;
    transition: var(--transition);

    &:hover {
      color: var(--primary);
    }
  }

  .active {
    color: var(--primary);
    background-color: white;
    border: 1px solid black;
  }
}


.dogPedigreeCard {
  background-color: white;
  border: 1px solid black;
  padding: 5px;
}


@media screen and (min-width: 500px) {
  .dogPedigreeCardNav {

    li {
      padding: 0.5rem 1rem;
      font-size: 14px;
    }
  }
}

@media screen and (min-width: 709px) {
  .dogPedigreeCardNav {
    .active {
      border-bottom: 0;
    }
  
  }
}

// media query
@media screen and (min-width: 1100px) {
  .dogPedigreeCard h2 {
    font-size: 61px;
  }

  .dogPedigreeCard {
    padding: 3rem;
  }
  .dogPedigreeCardNav {
    
    li {
      padding: 0.5rem 2rem;
      font-size: 18px;
    }
  }
}
