.dogPedigreeCardcontainer {
  width: 98%;
  margin: 4rem auto;
}

.dogPedigreeCardNav {
  font-size: 18px;
  font-weight: bold;

  li {
    padding: 0.5rem 2rem;
    cursor: pointer;
    transition: var(--transition);

    &:hover {
      color: var(--primary);
    }
  }

  .active {
    color: var(--primary);
    background-color: white;
    border: 1px solid black;
    border-bottom: 0;
  }
}

