.testmating-row {
    display: flex;
    flex-wrap: wrap;
    row-gap: 20px;
}

.testmating-col {
    flex-direction: column;



    input {
        border-radius: 30px;
        padding: 5px 20px;
        border-top: 1px solid grey;
        box-shadow: 0 0 2px grey;

        &:focus-within {
            outline: 0;
            box-shadow: 0 0 4px rgb(216, 140, 68);
        }
    }

    select {
        border: 2px solid black;
        padding: 5px 0px 5px 8px;
        border-radius: 82px 103px 36px / 15px 225px 15px 255px;

        &:focus-visible {
            outline: 0;
        }
    }
}

.dogResults {
    border: 1px solid grey;
    border-radius: 35px;
    position: absolute;
    left: 0;
    right: 20px;
    top: 80px;
    z-index: 2;
    background-color: white;

    .dogResult {
        display: flex;
        align-items: center;
        padding: 5px 2rem;
        gap: 10px;
        border-radius: 35px;
        transition: var(--transition);
        cursor: pointer;

        &:hover {
            background-color: var(--primary);
        }
    }

    img {
        width: 50px;
    }

    h3 {
        font-size: 18px;
    }

}