header {
  font-family: var(--primaryFont);
  font-size: 18px;

  .header-nav {
    width: 100%;
  }

  .active {
    color: var(--primary);
  }

  .header-underlist .active {
    color: inherit;
  }
}

.header-search-bar {
  position: relative;
  background-color: white;
  color: var(--blue);
  border: 2px solid var(--blue);
  border-radius: 30px;
  font-weight: 600;
  cursor: pointer;

  input {
    padding: 7px 15px;
    padding-left: 28px;
    border-radius: 30px;
    width: 100%;
  }
}

.search-lg {
  width: 77%;
  margin: 0 auto;
  padding-left: 15px;
}

.search-div-lg {
  background-color: white;
  padding: 10px;

  input {
    padding: 15px 15px;
    background-color: transparent;
    width: 100%;

    &:focus-visible {
      outline: 1px solid var(--primary);
    }
  }
}

.search-div-lg input:focus-visible .search-lg {
  border: 1px solid brown;
}

.header-nav>.desktop-nav>li {
  transition: var(--transition);
  position: relative;
  padding: 13px 15px;
  color: var(--blue);
  cursor: pointer;
  z-index: 1;

  &:hover {
    transform: translateY(-4px);
    color: var(--primary);
    text-decoration: underline;
  }
}

.header-underlist {
  position: absolute;
  background-color: transparent;
  left: -20px;
  top: 60px;
  width: 180px;
  opacity: 0;
  transition: var(--transition);
  transition: opacity 0s 0.3s;
  z-index: 10;

  li {
    // padding: 10px;
    background-color: white;
    margin-bottom: 2px;
    border-radius: 20px;
    transition: var(--transition);
    color: var(--blue);

    &:hover {
      background-color: var(--primary);
      color: white;
      text-decoration: underline;
    }

    a {
      display: inline-block;
      padding: 10px;
      height: 100%;
      width: 100%;
    }
  }
}

.header-nav>.desktop-nav>li:hover .header-underlist {
  opacity: 1;
}

.headerUserName {
  position: absolute;
  right: 5px;
  top: 2px;

  a {
    color: var(--lightBlue);
    transition: var(--transition);

    &:hover {
      color: var(--primary);
    }
  }
}

.hamburger-menu {
  position: absolute;
  background-color: white;
  top: 100px;
  left: 0;
  right: 0;
  font-size: 18px;
  z-index: 10;

  .active {
    background-color: var(--primary);
    color: white;
  }



  .hamburger-list li {
    transition: var(--transition);
    border-top: 1px solid transparent;
    border-bottom: 1px solid transparent;

    &:hover {
      border-top: 1px solid black;
      border-bottom: 1px solid black;
      color: var(--primary);
    }

    a {
      display: block;
      width: 100%;
      height: 100%;
      box-sizing: border-box;
      padding: 1.5rem;
    }
  }
}

.fix-padding {
  padding: 1.5rem;
  cursor: pointer;
}

.h-under-border {
  border-top: 1px solid black;
  border-bottom: 1px solid black;
}