.contact-us-container {
    padding: 5rem 0;
    background-color: white;
    text-align: center;


    h4 {
        // font-family: var(--headingFont);
        font-size: 28px;

        .email-sender {
            padding: 2px 10px;
            border-radius: 20px;
            animation: fade-bg 1.5s linear infinite alternate;

            &:hover {
                animation: none;
                background-color: rgb(226, 226, 226);
            }
        }
    }

    .socials-list a {
        padding: 3px 7px;
        border-radius: 5px;
        color: white;

        &:hover {
            opacity: .8;
        }
    }
}

@keyframes fade-bg {
    0% {
        background-color: transparent;
    }

    50% {
        background-color: rgb(226, 226, 226);
    }

    0% {
        background-color: transparent;
    }

}