.contact-us-container {
    padding: 5rem 0;
    background-color: white;
    text-align: center;


    h4 {
        // font-family: var(--headingFont);
        font-size: 28px;

        .email-sender {
            padding: 2px 10px;
            border-radius: 20px;

            &:hover {
                background-color: rgb(226, 226, 226);
            }
        }
    }

    .socials-list a {
        padding: 3px 7px;
        border-radius: 5px;
        color: white;

        &:hover {
            opacity: .8;
        }
    }
}