.tree-container {
    width: 100%;

    overflow-x: auto;
    overflow-y: visible;
    box-sizing: border-box;
    height: 100vh;
    display: flex;

    >.tree-col {
        padding: 0 10px;
        display: flex;
        flex-basis: 25%;
        flex-direction: column;
        flex-shrink: 0;
        justify-content: space-evenly;

        >.dog-card {
            width: 100%;
            // min-height: 40px;
            background-color: chocolate;
            position: relative;
            flex-shrink: 0;



            &:nth-child(odd)::before {
                content: "";
                background-color: black;
                height: 200%;
                width: 2px;
                position: absolute;
                right: 100%;
                top: 0;
            }

            &:nth-child(even)::before {
                content: "";
                background-color: black;
                height: 200%;
                width: 2px;
                position: absolute;
                right: 100%;
                bottom: 0;
            }

        }
    }

    >.tree-col:not(:last-child)>.dog-card::after {
        content: "";
        background-color: black;
        height: 2px;
        width: 20px;
        position: absolute;
        top: 50%;
        left: 100%;

    }

}

.tree-col:nth-child(1) {
    >.dog-card {
        flex-basis: calc(100vh / 5);
    }
}

.tree-col:nth-child(2) {
    >.dog-card {
        flex-basis: calc(100vh / 9);
    }
}

.tree-col:nth-child(3) {
    >.dog-card {
        flex-basis: calc(100vh / 17);
    }
}

.tree-col:nth-child(4) {
    >.dog-card {
        flex-basis: calc(100vh / 33);
    }
}

.tree-col:nth-child(5) {
    >.dog-card {
        flex-basis: calc(100vh / 65);
    }
}

.tree-col:nth-child(6) {
    >.dog-card {
        flex-basis: calc(100vh / 129);
    }
}

.tree-col:nth-child(7) {
    >.dog-card {
        flex-basis: calc(100vh / 257);
    }
}

.tree-col:nth-child(8) {
    >.dog-card {
        flex-basis: calc(100vh / 513);
    }
}