.generation1 {
  width: 100vw;
  height: 100%;
  flex-basis: 100%;
  height: 100%;
}

.generation1-male {
  background-color: yellow;
  flex-basis: 50%;
  height: 50%;
}

.generation1-female {
  background-color: gold;

  flex-basis: 50%;
  height: 50%;
}

.generation2 {
  background-color: red;
  margin-left: 100px;
  margin-top: -18px;
}

.generation2-male {
  height: 250px;
  background-color: greenyellow;
}

.generation2-female {
  height: 250px;
  background-color: aqua;
}

.generation3 {
  margin-left: 100px;
  margin-top: -18px;
}

.generation4 {
  margin-left: 100px;
  margin-top: -18px;
}





[class^="generation"]:not([class$="male"]):not([class*="tion1"]) {
  margin-left: 100px;
  margin-top: -24px;
  height: 100%;
}

[class$="male"] {
  height: 50%;
}

[class$="3-male"] {
  background-color: beige;
}

[class$="3-female"] {
  background-color: silver;
}

[class$="4-male"] {
  background-color: orange;
}

[class$="4-female"] {
  background-color: orchid;
}

[class$="5-male"] {
  background-color: skyblue;
}

[class$="5-female"] {
  background-color: slateblue;
}


.generation5-male,
.generation5-female,
.generation6-male,
.generation6-female,
.generation7-male,
.generation7-female,
.generation8-male,
.generation8-female {
  width: auto;
}

.App {
  display: flex;
  height: 100vh;
  justify-content: center;
}