.userDetail-container {
  padding: 4rem 0;

  .userName-container {
    font-size: 24px;
    color: rgb(68, 68, 68);
    padding: 2rem 4rem;
    border-bottom: 1px solid rgb(185, 185, 185);
  }

  .user-photo {
    background-color: rgb(180, 180, 180);
    padding: 25px 60px;
    border-radius: 50%;
    font-size: 120px;
    cursor: pointer;
    position: relative;
    color: white;
  }

  

  .userDog-card {
    border: 2px solid var(--primary);
    border-radius: 10px;
    padding: 1rem;
    margin: 1rem 0;
    display: flex;
    align-items: center;
    justify-content: space-between;

    h4 {
      font-family: var(--headingFont);
      font-size: 20px;
      transition: var(--transition);

      &:hover {
        color: var(--primary);
        text-decoration: underline;
      }
    }

    img {
      object-fit: cover;
      object-position: top center;
      width: 80px;
      height: 80px;
      border-radius: 5px;
    }

    
  }
}

