@tailwind base;
@tailwind components;
@tailwind utilities;


:root {
  --primary: #E89F41;
  --transition: all .3s ease;
  --blue: #1A3764;
  --text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000,
      1px 1px 0 #000;
  --primaryFont: "Outfit", sans-serif;
  --secondaryFont: "Noto Sans", sans-serif;
  --headingFont: "Bowlby One SC", serif;
  --basicFont:  "Open Sans", sans-serif;

}

body {
  font-family: "Outfit", sans-serif;
  background-color: #ebeff2;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
  background: #888;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}


@media screen and (min-width: 769px) {
  .container {
        max-width: 90%; 
    }
}
@media screen and (min-width: 1100px) {
  .container {
        max-width: 90%; 
    }
}

@media screen and (min-width: 1400px) {
  .container {
        max-width: 1300px; 
    }
}