@tailwind base;
@tailwind components;
@tailwind utilities;


:root {
  --primary: #E89F41;
  --transition: all .3s ease;
  --blue: #1A3764;
}

body {
  font-family: "Outfit", sans-serif;
  background-color: #ebeff2;
}

