.news-detail-container {
  gap: 80px;

  .news-container {
    padding: 2rem 0;
    flex-basis: 70%;

    h3 {
      font-family: var(--headingFont);
      font-size: 20px;
      font-weight: 500px;
    }

    .comment-date {
        color: #757575;
        font-weight: 700;
        font-family: var(--originalFont);
        margin: .4rem 0;
    }

    figure {
      border: 1px solid rgb(194, 194, 194);
      border-left: 0;
      border-right: 0;
      padding: 1.5rem 0;
      margin: 4rem 0;
    }
  }

  .comment-container {
    border-radius: 155px 45px 225px 75px / 15px 125px 15px 155px;
    border: 1px solid black;
    background-color: #f9f9f9;
    padding: 4rem;
    margin: 2rem 0;

    h5 {
      border-bottom: 1px solid rgb(204, 202, 202);
      font-weight: bold;
      font-size: 20px;
      color: rgb(103, 84, 68);
      font-family: var(--originalFont);
    }

    textarea {
      border-radius: 82px 103px 36px / 15px 225px 15px 255px;
      border: 2px solid black;
      width: 100%;
      margin: 2rem 0;
      height: 120px;
      padding: 1rem;

      &::placeholder {
        font-size: 14px;
        padding-left: 10px;
      }
    }


    
  }

  
}
