.add-dog-form-container {
  padding: 7rem 0 4rem 0;

  

  

  .error-text {
    font-size: 14px;
    color: red;
    padding: 5px 10px;
  }

  .tip {
    font-size: 14px;
    padding-left: 5px;

    span {
      text-decoration: underline;
    }
  }

  .dogResults {
    border: 1px solid grey;
    border-radius: 35px;
    position: absolute;
    left: 20px;
    right: 20px;
    top: 87px;
    z-index: 2;
    background-color: white;

    .dogResult {
      display: flex;
      align-items: start;
      padding: 5px 2rem;
      gap: 10px;
      border-radius: 35px;
      transition: var(--transition);
      cursor: pointer;

      &:hover {
        background-color: var(--primary);
      }
    }

    img {
      width: 50px;
    }

    h3 {
      font-size: 18px;
    }
    
  }

  select,
  input, textarea {
    width: 100%;
  }

  .form-row {
    display: block;
  }

  @media screen and (min-width: 920px) {
  .form-row {
    display: flex;
    align-items: end;
  }
}

  .form-col {
    flex-grow: 1;
    padding: 1rem 1rem;
  }

  input {
    border-radius: 30px;
    padding: 5px 20px;
    border-top: 1px solid grey;
    box-shadow: 0 0 2px grey;

    &:focus-within {
        outline: 0;
        box-shadow: 0 0 4px rgb(216, 140, 68);
    }
  }

  select, textarea {
    border: 2px solid black;
    padding: 5px 0px 5px 8px;
    border-radius:  82px 103px 36px / 15px 225px 15px 255px;

    &:focus-visible {
        outline: 0;
    }
  }

  .smaller-select {
    width: 80px;
  }

  .no-grow {
    flex-grow: 0;
  }

  
}

.addDogPage {
    button {
    margin: 1rem;
    border-radius: 30px;
    text-transform: uppercase;
    transition: var(--transition);
    border: 2px solid black;
    background-color: transparent;
    font-size: 18px;
    font-weight: 600;

    &:hover {
        color: white;
        background-color: var(--primary);
    }

    a {
      display: block;
      height: 100%;
      width: 100%;
      padding: 1rem;
       border-radius: 30px;
    }

    
  }

  
}