.dog-card {
    border: 1px solid black;
    border-radius: 10px;
    background-color: #eceff2;
    overflow: hidden;

    >figure {
        width: 100%;
        aspect-ratio: 1/1;
        overflow: hidden;

        >img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            object-position: center center;
            background-color: white;
            transition: var(--transition);


            &:hover {
                transform: scale(1.2);
            }
        }
    }

    .card-body {
        border-top: 1px solid black;
        padding: .3rem;
        text-align: center;

        >a>h4 {
            font-family: var(--headingFont);
            font-size: 16px;
        }

        span {
            font-size: 14px;
        }

        >.name-placeholder {
            background-color: darkgray;
            height: 30px;
            width: 15vw;
            max-width: 60%;
            margin: 0 auto;
        }

        .titles-placeholder {
            display: inline-block;
            background-color: #73e567;
            height: 28px;
            width: 10vw;
            max-width: 40%;
        }
    }

}

@media screen and (min-width: 768px) {
    .dog-card {

        >figure,
        .card-body {
            padding: 1rem;
        }


        .card-body {
            >a>h4 {
                font-size: 20px;
            }

            span {
                font-size: 16px;
            }
        }
    }

}